In [257]:
import csv
import datetime
import requests
import pandas as pd

In [258]:
# set the today's date
current_date = datetime.date.today()
today = current_date.strftime("%d%m%Y")

In [259]:
today

'14102022'

In [260]:
source_file_name = 'sec_bhavdata_full_{}.csv'
base_url = r'https://archives.nseindia.com/products/content/'
example_date = '12102022'  # REMOVE ME
source_url = base_url+source_file_name.format(today)

In [262]:
source_url

'https://archives.nseindia.com/products/content/sec_bhavdata_full_12102022.csv'

In [263]:
column_names = ['Symbol', 'Series', 'Date', 'PrevClose', 'OpenPrice', 'HighPrice', 'LowPrice', 'LastPrice', 'ClosePrice'+today, 'AvgPrice', 'TotalTradedQuantity'+today, 'TurnoverInLacs'+today, 'NoOfTrades', 'DeliveryQuantity'+today, 'DeliveryPercentage'+today]

Extracting data

In [264]:
main_bhav_data = pd.read_csv(source_url, names=column_names)

In [265]:
main_bhav_data = main_bhav_data.drop(columns=['Date','PrevClose', 'OpenPrice', 'HighPrice', 'LowPrice', 'LastPrice', 'AvgPrice', 'NoOfTrades'])

In [266]:
main_bhav_data = main_bhav_data.drop([0])

In [267]:
main_bhav_data

,Symbol,Series,ClosePrice12102022,TotalTradedQuantity12102022,TurnoverInLacs12102022,DeliveryQuantity12102022,DeliveryPercentage12102022
1,20MICRONS,EQ,96.85,88261,85.70,44571,50.50
2,21STCENMGM,EQ,23.15,4557,1.06,3875,85.03
3,3IINFOLTD,EQ,42.35,255269,108.93,154933,60.69
4,3MINDIA,EQ,23684.00,3038,715.59,1320,43.45
5,3PLAND,EQ,18.90,33578,6.19,28129,83.77
...,...,...,...,...,...,...,...
2251,ZOTA,EQ,281.05,14410,40.58,6972,48.38
2252,ZUARI,EQ,177.90,120262,215.10,64949,54.01
2253,ZUARIIND,EQ,164.60,27431,45.73,14019,51.11
2254,ZYDUSLIFE,EQ,420.60,1014645,4237.96,468000,46.12
2255,ZYDUSWELL,EQ,1740.05,24808,425.64,17464,70.40

Writing data to main file.

In [268]:
main_bhav_data.to_csv('nse_data_file.csv')

New Data writing to the main CSV file

Filtering the new data file

In [269]:
temp_today = '13102022'
temp_source_url = base_url+source_file_name.format(today)

In [270]:
column_names = ['Symbol', 'Series', 'Date', 'PrevClose', 'OpenPrice', 'HighPrice', 'LowPrice', 'LastPrice', 'ClosePrice'+today, 'AvgPrice', 'TotalTradedQuantity'+today, 'TurnoverInLacs'+today, 'NoOfTrades', 'DeliveryQuantity'+today, 'DeliveryPercentage'+today]

In [271]:
temp_bhav_data = pd.read_csv(temp_source_url, names=column_names)

In [272]:
temp_bhav_data = temp_bhav_data.drop(columns=['Date','PrevClose', 'OpenPrice', 'HighPrice', 'LowPrice', 'LastPrice', 'AvgPrice', 'NoOfTrades'],)

In [273]:
temp_bhav_data = temp_bhav_data.drop([0])

In [274]:
temp_bhav_data

,Symbol,Series,ClosePrice13102022,TotalTradedQuantity13102022,TurnoverInLacs13102022,DeliveryQuantity13102022,DeliveryPercentage13102022
1,1018GS2026,GS,111.50,1,0.00,1,100.00
2,20MICRONS,EQ,95.95,56206,54.18,33265,59.18
3,21STCENMGM,EQ,23.30,5194,1.20,1875,36.10
4,3IINFOLTD,EQ,42.60,263245,112.31,154224,58.59
5,3MINDIA,EQ,23384.10,3090,723.48,2293,74.21
...,...,...,...,...,...,...,...
2276,ZOTA,EQ,278.35,11458,32.06,7096,61.93
2277,ZUARI,EQ,187.00,256519,471.51,130697,50.95
2278,ZUARIIND,EQ,166.20,33839,56.19,12481,36.88
2279,ZYDUSLIFE,EQ,414.75,612113,2553.64,219836,35.91
2280,ZYDUSWELL,EQ,1734.75,25738,447.88,11106,43.15

New Data Filling to main file

In [275]:
from datetime import timedelta


yesterday = current_date - timedelta(days=1)
yesterday = yesterday.strftime('%d%m%Y')
print(yesterday)
yesterday = '12102022' # REMOVE ME

13102022

Inserting new data to the main file

In [276]:
header_main = ['ClosePrice'+yesterday, 'TotalTradedQuantity'+yesterday, 'TurnoverInLacs'+yesterday, 'DeliveryQuantity'+yesterday, 'DeliveryPercentage'+yesterday]
header_main

['ClosePrice12102022',
 'TotalTradedQuantity12102022',
 'TurnoverInLacs12102022',
 'DeliveryQuantity12102022',
 'DeliveryPercentage12102022']

In [277]:
header_new = [h for h in temp_bhav_data.columns[2:]]

In [278]:
header_new

['ClosePrice13102022',
 'TotalTradedQuantity13102022',
 'TurnoverInLacs13102022',
 'DeliveryQuantity13102022',
 'DeliveryPercentage13102022']

In [279]:
for i in range(5):
    new_head = header_new[i]
    prev_head = main_bhav_data.columns.get_loc(header_main[i]) + 1

    extracted_col = temp_bhav_data[new_head]
    main_bhav_data.insert(prev_head, new_head, extracted_col)
    print(extracted_col)
    print()

1          111.50
2           95.95
3           23.30
4           42.60
5        23384.10
          ...
2276       278.35
2277       187.00
2278       166.20
2279       414.75
2280      1734.75
Name: ClosePrice13102022, Length: 2280, dtype: object

1             1
2         56206
3          5194
4        263245
5          3090
         ...
2276      11458
2277     256519
2278      33839
2279     612113
2280      25738
Name: TotalTradedQuantity13102022, Length: 2280, dtype: object

1           0.00
2          54.18
3           1.20
4         112.31
5         723.48
          ...
2276       32.06
2277      471.51
2278       56.19
2279     2553.64
2280      447.88
Name: TurnoverInLacs13102022, Length: 2280, dtype: object

1             1
2         33265
3          1875
4        154224
5          2293
         ...
2276       7096
2277     130697
2278      12481
2279     219836
2280      11106
Name: DeliveryQuantity13102022, Length: 2280, dtype: object

1        100.00
2         59.18
3         36.10
4         58.59
5         74.21
         ...
2276      61.93
2277      50.95
2278      36.88
2279      35.91
2280      43.15
Name: DeliveryPercentage13102022, Length: 2280, dtype: object

In [280]:
main_bhav_data

,Symbol,Series,ClosePrice12102022,ClosePrice13102022,TotalTradedQuantity12102022,TotalTradedQuantity13102022,TurnoverInLacs12102022,TurnoverInLacs13102022,DeliveryQuantity12102022,DeliveryQuantity13102022,DeliveryPercentage12102022,DeliveryPercentage13102022
1,20MICRONS,EQ,96.85,111.50,88261,1,85.70,0.00,44571,1,50.50,100.00
2,21STCENMGM,EQ,23.15,95.95,4557,56206,1.06,54.18,3875,33265,85.03,59.18
3,3IINFOLTD,EQ,42.35,23.30,255269,5194,108.93,1.20,154933,1875,60.69,36.10
4,3MINDIA,EQ,23684.00,42.60,3038,263245,715.59,112.31,1320,154224,43.45,58.59
5,3PLAND,EQ,18.90,23384.10,33578,3090,6.19,723.48,28129,2293,83.77,74.21
...,...,...,...,...,...,...,...,...,...,...,...,...
2251,ZOTA,EQ,281.05,36.35,14410,125907,40.58,46.25,6972,26747,48.38,21.24
2252,ZUARI,EQ,177.90,5.35,120262,483295,215.10,26.42,64949,264997,54.01,54.83
2253,ZUARIIND,EQ,164.60,113.05,27431,12659,45.73,14.26,14019,-,51.11,-
2254,ZYDUSLIFE,EQ,420.60,379.10,1014645,42448106,4237.96,162522.23,468000,18592824,46.12,43.80
2255,ZYDUSWELL,EQ,1740.05,241.10,24808,325191,425.64,787.26,17464,114718,70.40,35.28

In [ ]:
main_bhav_data.to_csv('nse_data_file.csv')