In [1]:
import csv
import datetime
import requests
import pandas as pd

In [2]:
# set up today and yesterday
current_date = datetime.date.today()
today = current_date.strftime("%d%m%Y")

yesterday = current_date - datetime.timedelta(days=1)
yesterday = yesterday.strftime('%d%m%Y')

In [3]:
yesterday

'13102022'

In [4]:
today

'14102022'

In [5]:
# setup the source url to fetch the new data from nseindia.com
source_file_name = 'sec_bhavdata_full_{}.csv'
base_url = r'https://archives.nseindia.com/products/content/'
source_url = base_url+source_file_name.format(today)

In [6]:
source_url

'https://archives.nseindia.com/products/content/sec_bhavdata_full_14102022.csv'

In [7]:
# setup the column names of the new file
column_names = ['Symbol', 'Series', 'Date', 'PrevClose', 'OpenPrice', 'HighPrice', 'LowPrice', 'LastPrice', 'ClosePrice'+today, 'AvgPrice', 'TotalTradedQuantity'+today, 'TurnoverInLacs'+today, 'NoOfTrades', 'DeliveryQuantity'+today, 'DeliveryPercentage'+today]

In [8]:
column_names

['Symbol',
 'Series',
 'Date',
 'PrevClose',
 'OpenPrice',
 'HighPrice',
 'LowPrice',
 'LastPrice',
 'ClosePrice14102022',
 'AvgPrice',
 'TotalTradedQuantity14102022',
 'TurnoverInLacs14102022',
 'NoOfTrades',
 'DeliveryQuantity14102022',
 'DeliveryPercentage14102022']

In [9]:
# fetch the main bhav data file.
main_bhav_data = pd.read_csv('nse_data_file.csv')

In [10]:
main_bhav_data

,Symbol,Series,ClosePrice12102022,ClosePrice13102022,TotalTradedQuantity12102022,TotalTradedQuantity13102022,TurnoverInLacs12102022,TurnoverInLacs13102022,DeliveryQuantity12102022,DeliveryQuantity13102022,DeliveryPercentage12102022,DeliveryPercentage13102022
0,20MICRONS,EQ,96.85,111.50,88261,1,85.70,0.00,44571,1,50.5,100
1,21STCENMGM,EQ,23.15,95.95,4557,56206,1.06,54.18,3875,33265,85.03,59.18
2,3IINFOLTD,EQ,42.35,23.30,255269,5194,108.93,1.20,154933,1875,60.69,36.1
3,3MINDIA,EQ,23684.00,42.60,3038,263245,715.59,112.31,1320,154224,43.45,58.59
4,3PLAND,EQ,18.90,23384.10,33578,3090,6.19,723.48,28129,2293,83.77,74.21
...,...,...,...,...,...,...,...,...,...,...,...,...
2250,ZOTA,EQ,281.05,36.35,14410,125907,40.58,46.25,6972,26747,48.38,21.24
2251,ZUARI,EQ,177.90,5.35,120262,483295,215.10,26.42,64949,264997,54.01,54.83
2252,ZUARIIND,EQ,164.60,113.05,27431,12659,45.73,14.26,14019,-,51.11,-
2253,ZYDUSLIFE,EQ,420.60,379.10,1014645,42448106,4237.96,162522.23,468000,18592824,46.12,43.8
2254,ZYDUSWELL,EQ,1740.05,241.10,24808,325191,425.64,787.26,17464,114718,70.4,35.28

In [22]:
# fetch today's bhav data file from nseindia.com
today_bhav_data = pd.read_csv(source_url, names=column_names)

In [ ]:
# Drop the unnecessary data from the new bhav file.
today_bhav_data = today_bhav_data.drop(columns=['Date','PrevClose', 'OpenPrice', 'HighPrice', 'LowPrice', 'LastPrice', 'AvgPrice', 'NoOfTrades'])

In [ ]:
# Drop the first row of the new bhav file.
today_bhav_data = today_bhav_data.drop([0])

In [ ]:
today_bhav_data

In [23]:
# setup the column names for yesterday's data from the main bhav data file.
header_main = ['ClosePrice'+yesterday, 'TotalTradedQuantity'+yesterday, 'TurnoverInLacs'+yesterday, 'DeliveryQuantity'+yesterday, 'DeliveryPercentage'+yesterday]
header_main

['ClosePrice13102022',
 'TotalTradedQuantity13102022',
 'TurnoverInLacs13102022',
 'DeliveryQuantity13102022',
 'DeliveryPercentage13102022']

In [26]:
# setup the column names for today's data from the nseindia.com
header_new = ['ClosePrice'+today, 'TotalTradedQuantity'+today, 'TurnoverInLacs'+today, 'DeliveryQuantity'+today, 'DeliveryPercentage'+today]
header_new

['ClosePrice14102022',
 'TotalTradedQuantity14102022',
 'TurnoverInLacs14102022',
 'DeliveryQuantity14102022',
 'DeliveryPercentage14102022']

In [ ]:
# extract the new data and paste to the main bhav data file.
for i in range(5):
    new_head = header_new[i]
    prev_head = main_bhav_data.columns.get_loc(header_main[i]) + 1

    extracted_col = today_bhav_data[new_head]
    main_bhav_data.insert(prev_head, new_head, extracted_col)
    print(extracted_col)
    print()

In [ ]:
main_bhav_data

In [ ]:
# Write the new data to main csv file.
main_bhav_data.to_csv('nse_data_file.csv', index=False)