In [62]:
import pandas as pd
import datetime

In [63]:
# today's data and yesterday's date
today = (datetime.datetime.today().strftime('%d%b%Y')).upper()
yesterday = ((datetime.datetime.today() - datetime.timedelta(days=1)).strftime('%d%b%Y')).upper()
today, yesterday

('19OCT2022', '18OCT2022')

In [64]:
# source url for fetching the data from nseIndia.com
source_url = 'https://archives.nseindia.com/content/historical/DERIVATIVES/2022/OCT/fo{}bhav.csv.zip'.format(yesterday)  # CHANGE-ME
source_url

'https://archives.nseindia.com/content/historical/DERIVATIVES/2022/OCT/fo18OCT2022bhav.csv.zip'

In [65]:
# fetching the zip file
# fetching the csv file 
# NOTE : the zipfile must contain only csv file nothing else
main_data = pd.read_csv(source_url,compression='zip')

In [66]:
# Dropping the unnecessary columns
main_data = main_data.drop(columns=['STRIKE_PR', 'OPEN', 'OPTION_TYP', 'HIGH', 'LOW', 'TIMESTAMP'])

In [67]:
# Dropping the last column as it was empty
main_data.drop(main_data.columns[[9]], axis=1, inplace=True)

In [68]:
# NIFTY 100 STOCK NAMES

companies = """ADANITRANS
HAL
BEL
SBIN
BANKBARODA
ADANIPORTS
SBICARD
EICHERMOT
SIEMENS
ITC
SBILIFE
NESTLEIND
ADANIENT
CHOLAFIN
BHARTIARTL
INDUSINDBK
INDIGO
HAVELLS
TATAMOTORS
DLF
M&M
APOLLOHOSP
LT
RELIANCE
NAUKRI
CIPLA
LTI
MUTHOOTFIN
HDFCLIFE
COALINDIA
HCLTECH
HINDALCO
TATAPOWER
ATGL
ICICIGI
TATACONSUM
ICICIBANK
BIOCON
ULTRACEMCO
TATASTEEL
WIPRO
HDFCAMC
IOC
MCDOWELL-N
ASIANPAINT
BAJAJHLDNG
PIIND
BERGEPAINT
INDUSTOWER
INFY
JSWSTEEL
MARUTI
SHREECEM
TCS
ONGC
ZOMATO
BOSCHLTD
TITAN
ICICIPRULI
BANDHANBNK
COLPAL
PIDILITIND
HINDUNILVR
UPL
POWERGRID
SRF
BAJFINANCE
MARICO
MPHASIS
IRCTC
BAJAJFINSV
ADANIGREEN
AXISBANK
HEROMOTOCO
DRREDDY
DABUR
GODREJCP
VEDL
PGHH
DIVISLAB
KOTAKBANK
GLAND
GAIL
LICI
BAJAJ-AUTO
BPCL
GRASIM
HDFCBANK
TECHM
DMART
BRITANNIA
SUNPHARMA
HDFC
NTPC
TORNTPHARM
NYKAA
PAYTM
AMBUJACEM
ACC
MOTHERSON
BANKNIFTY
NIFTY
"""
companies = companies.split('\n')
len(companies)

103

In [69]:
# Inplace droppping the row with symbol as FINNIFTY
# main_data.drop(main_data[main_data['SYMBOL'] == 'FINNIFTY'].index, inplace=True)

# Filtering out data based on INSTRUMENT AND SYMBOL 
main_data = main_data.loc[main_data['INSTRUMENT'].isin(['FUTSTK', 'FUTIDX'])]
main_data = main_data.loc[main_data['SYMBOL'].isin(companies)]

In [70]:
# Filtering out data based on current month expiry date
main_data = main_data[main_data['EXPIRY_DT'].astype(str).str.match(r"\d{2}-Oct-2022")]

In [71]:
# Dropping out the first column i.e. INSTRUMENT
main_data.drop(main_data.columns[[0]], axis=1, inplace=True)

In [72]:
# new Column names (added date with the names)
column_names = [ 'SYMBOL', 'EXPIRY_DT', 'CLOSE'+yesterday, 'SETTLE_PR'+yesterday, 'CONTRACTS'+yesterday, 'VAL_INLAKH'+yesterday,'OPEN_INT'+yesterday, 'CHG_IN_OI'+yesterday]

# assigning the new column names
main_data.columns = column_names

In [73]:
main_data

,SYMBOL,EXPIRY_DT,CLOSE18OCT2022,SETTLE_PR18OCT2022,CONTRACTS18OCT2022,VAL_INLAKH18OCT2022,OPEN_INT18OCT2022,CHG_IN_OI18OCT2022
0,BANKNIFTY,27-Oct-2022,40380.10,40380.10,124441,1255775.74,1633100,-194875
16,NIFTY,27-Oct-2022,17502.00,17502.00,190681,1667618.58,11411250,-1273300
34,ACC,27-Oct-2022,2224.85,2224.85,10937,61276.54,4131250,-530500
37,ADANIENT,27-Oct-2022,3291.45,3291.45,8850,145049.84,13333500,-1091000
40,ADANIPORTS,27-Oct-2022,810.00,810.00,36783,372577.41,35147500,-34007500
...,...,...,...,...,...,...,...,...
561,TORNTPHARM,27-Oct-2022,1564.55,1564.55,906,7112.34,1736500,18500
576,ULTRACEMCO,27-Oct-2022,6368.65,6368.65,11133,71131.67,1871700,-40000
579,UPL,27-Oct-2022,683.75,683.75,1808,16101.66,23280400,-465400
582,VEDL,27-Oct-2022,280.60,280.60,4421,19324.79,29367850,-94550
591,WIPRO,27-Oct-2022,380.85,380.85,14484,55331.86,36677000,-2161000

In [74]:
main_data.to_csv('fandodata.csv', index=False)

In [83]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
df1, df2
#       a  b
# 0   foo  1
# 1   bar  2
# >>> df2
#       a  c
# 0   foo  3
# 1   baz  4

(     a  b
 0  foo  1
 1  bar  2,
      a  c
 0  foo  3
 1  baz  4)

In [84]:
df1 = df1.merge(df2, how='outer', on='a')

In [85]:
x_col = df1['b']
df1.drop(columns='b', inplace=True)
df1.insert(0, 'b', x_col)

In [86]:
df1

     b    a    c
0  1.0  foo  3.0
1  2.0  bar  NaN
2  NaN  baz  4.0